.success{
  visibility: hidden;
  
}

.err{
  visibility: hidden;

}

.msg{
  visibility: hidden;
  
}

.loadingdiv {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 40%;
	margin-left: 18%;
}

.signuppage {
	position: relative;
	filter: blur(18px);
}

.signupbody {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
	overflow-y: hidden;
}


.signupheading {
	font-weight: bold;
	margin: 0;
}

.social {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}


#signupsocial {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 10px ;
}

#signupbtn {
	border-radius: 20px;
	border: 1px solid #0173AE;
	background-color: #0173AE;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top:15px;
	margin-left: 65px;
	font-size: 90%;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#signupform {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.signupinput {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 20px;

}

#container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

#form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-up-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.fa-facebook-f:hover {
 background-color: #0173AE;
}


@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
.social-container{
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.form-right{
	padding-top: 40px;
	width:90%;
}

.errmsg{
	margin-left: 2%;
}

.form-control{
	display:flex;
	text-align: left;
	justify-content: left;
}

.PhoneInput{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin-left: 8.5%;
	width: 82%;
	border-radius: 20px;	
}

.PhoneInputInput {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	background-color: #eee;
	border-width:0px;
}

