.busseslisttitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bussesusertitle{
    margin-left:44%;
    font-weight: 500;
    font-size: calc(1.375rem + 1.5vw);
}

.addbusbtn{
    margin-right:2%;
}